body {
  padding: 0;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
textarea{
	resize:none;
	width:85%;
}

label{
	margin-top:4px !important;
}

.navbar-default .english > .english > a,
.navbar-default .english > .english > a:hover,
.navbar-default .english> .english > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

.navbar-default .french > .french > a,
.navbar-default .french > .french > a:hover,
.navbar-default .french> .french > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

.navbar-default .spanish > .spanish > a,
.navbar-default .spanish > .spanish > a:hover,
.navbar-default .spanish> .spanish > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  
  .header {
    margin-bottom: 30px;
  }
}
